.task {
    background-color: #FF0000;
    color: #ffffff;
    text-align: center;
}

.progress {
    background-color: #0000CD;
    color: #ffffff;
    text-align: center;
}

.done {
    background-color: #00B961;
    color: #ffffff;
    text-align: center;
}

h1 {
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 5px #D2691E;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
    text-align: center;
  }

body{
    background-color: #66CCFF;
}  

.taskboard{
    float: left;
}
.taskwindow{
    float: left;
    width: 33%;
    height: 500px;

}

.taskdetail{
    height: 500px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
}

