

.task {
    background-color: #FF0000;
    color: #ffffff;
    text-align: center;
}

.progress {
    background-color: #0000CD;
    color: #ffffff;
    text-align: center;
}

.done {
    background-color: #00B961;
    color: #ffffff;
    text-align: center;
}
.kanban-board{
    opacity: 0.8;
}

h1 {
    padding: 0.4em 0.5em;/*文字の上下 左右の余白*/
    color: #494949;/*文字色*/
    background: #f4f4f4;/*背景色*/
    border-left: solid 5px #D2691E;/*左線*/
    border-bottom: solid 3px #d7d7d7;/*下線*/
    text-align: center;
  }

.taskboard{
    float: left;
}
.taskwindow{
    float: left;
    width: 470px;
    height: 700px;

}

.taskTitle{
    height: 100px;
    background-color: #88FFFF;
    color: #000000;
    text-align: center;
    border: solid 3px  #000000;
    border-bottom: 0px;
}
.taskTime{
    height: 50px;
    background-color: #AEFFBD;
    color: #000000;
    text-align: center;
    border: solid 3px  #000000;
    border-bottom: 0px;
}

.taskDate{
    height: 50px;
    background-color: #AEFFBD;
    color: #000000;
    text-align: center;
    border: solid 3px  #000000;
    border-bottom: 0px;
}

.taskDetail{
    height: 500px;
    background-color: #ffffff;
    color: #000000;
    text-align: center;
    border: solid 3px  #000000;
    font-size: 10px;
}



.taskTitle{
    position: relative;
}

.title{
    position: absolute;
	top: 30%;
	left: 50%;
	-webkit-transform : translate(-50%, -50%);
	transform : translate(-50%, -50%);
    text-align: center;
    font-size: 20px;
    font-weight: 700;
}

.title_button{
	position: absolute;
	top: 50%;
	left: 90%;
	-webkit-transform : translate(-50%, -50%);
	transform : translate(-50%, -50%);
	text-align: center;
}
.text_box{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform : translate(-50%, -50%);
	transform : translate(-50%, -50%);
    text-align: center;
    border: solid 2px  #000000;
}

.taskDetail{
    position: relative;
}

.detail_header{
    font-size: 15px;
    font-weight: 700;
}

.detail_button{
	position: absolute;
	top: 95%;
	left: 50%;
	-webkit-transform : translate(-50%, -50%);
	transform : translate(-50%, -50%);
	text-align: center;
}


.text_area{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform : translate(-50%, -50%);
	transform : translate(-50%, -50%);
    border: solid 2px  #000000;
    font-size: 17px;
}

.text_submit{
	position: absolute;
	top: 95%;
	left: 50%;
	-webkit-transform : translate(-50%, -50%);
	transform : translate(-50%, -50%);
	text-align: center;
}

body{
    background-image: url("./uyuni_01.jpg");
    background-size: cover;
    font-family: "Times New Roman";
    animation  : change-bgimage 60s infinite;
}  

@keyframes change-bgimage {
    25% {
      background-image: url("./uyuni_01.jpg");
    }
    50% {
      background-image: url("./original.jpg");
    }
    75% {
      background-image: url("./CEVcW-hUsAAXsO_.jpg");
    }
    100% {
      background-image: url("./4a473835d4749a8f43ad2172e73633a0db7dc218.jpeg");
    }
}